{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Ajout d'un contact {% endblock %}

{% block contenu %} <h1> Ajout d'un contact </h1> 

    {% if form.valide is defined %} 
        {% if form.valide == true %}
             <div style="margin: 0 auto;  text-align: center;">
            <h1 >Ajout réussi</h1>
            <a href="index.php?page=contactadd">Ajouter un nouveau contact</a><br>
        <a href="index.php?page=contact">Retourner à la liste des contacts</a>
             </div>
{% else %} 
    <h1 class="h3 mb-3 font-weight-normal">{{ form.valide.message }}</h1> 
{% endif %}     
{% else %}      

    <div class="panel-body">
        <form  class="form-signin" action="index.php?page=contactadd" method="post" enctype="application/x-www-form-urlencoded">

            <label for="inputLastName" class="sr-only">Nom:</label>
            <input type="text" id="inputLastName" name="inputLastName" class="form-control" placeholder="Saisir le nom" required autofocus>

            <label for="inputFirstName" class="sr-only">Prénom:</label>
            <input type="text" id="inputFirstName" name="inputFirstName" class="form-control" placeholder="Saisir le prénom" required >

            <label for="inputTel" class="sr-only">Téléphone:</label>
            <input type="number" id="inputTel" name="inputTel" class="form-control" placeholder="Saisir le téléphone" required >

            <label for="inputMail" class="sr-only">Mail:</label>
            <input type="email" id="inputMail" name="inputMail" class="form-control" placeholder="Saisir le mail" required >

            <button class="btn btn-lg btn-primary btn-block" type="submit" name="btAdd">Ajouter le contact</button>
        </form>
    </div>    
{% endif %}
{% endblock %} 
