
<table class="table table-hover table-striped">

    <tr>
        <th>Désignation</th>
        <th>Type</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    {% for p in liste %}
        <tr>
            <td>{{p.designation}}</td>
            <td>{{p.idType}}</td>            
        </tr>
    {% endfor %}

</table>
