/* 
    Created on : 20 mai 2019, 16:22:08
    Author     : marce
*/

/*PAGE ADMIN DEBUT*/
/*.body{
    height: 100%;
    font-family: ring;
    background-image: url(../images/utilisateurs/proxy.duckduckgo.com.png);
    background-repeat:no-repeat;
    background-size: cover;
}*/