{% extends "base.html.twig" %}

{% block contenue %}
    <br/><br/><br/><br/>
    <div class="container">
        <div class="row">
            <h3>Client Closed Request</h3>
            <div class="text-center"><strong>Erreur 499:</strong> Le client a fermé la connexion avant de recevoir la réponse. Cette erreur se produit quand le traitement est trop long côté serveur16.</div>
        </div>
    </div>
    <br/><br/><br/>
{% endblock %}

{% block newsletter %}
{% endblock %}

{% block js %}
{% endblock %}