{% extends "base.html.twig" %}

{% block contenue %}
    <br/><br/><br/><br/>
    <div class="container">
        <div class="row">
            <h3 style="color: #005cbf">I’m a teapot</h3>
            <div class="text-center"><strong>Erreur 418:</strong> <cite>« Je suis une théière »</cite>. Ce code est défini dans la RFC 2324 datée du premier avril 1998, <i>Hyper Text Coffee Pot Control Protocol</i>.</div>
        </div>
    </div>
    <br/><br/><br/>
{% endblock %}

{% block newsletter %}
{% endblock %}

{% block js %}
{% endblock %}