{% extends "base.html.twig" %}

{% block contenue %}
    <br/><br/><br/><br/>
    <div class="container">
        <div class="row">
            <h3>SSL Certificate Error</h3>
            <div class="text-center"><strong>Erreur 495:</strong> Une extension de l'erreur 400 Bad Request, utilisée lorsque le client a fourni un certificat invalide.</div>
        </div>
    </div>
    <br/><br/><br/>
{% endblock %}

{% block newsletter %}
{% endblock %}

{% block js %}
{% endblock %}