{% extends "base.html.twig" %}

{% block contenue %}
    <br/><br/><br/><br/>
    <div class="container">
        <div class="row">
            <h3>Requested range unsatisfiable</h3>
            <div class="text-center"><strong>Erreur 416:</strong> Champs d’en-tête de requête « range » incorrect.</div>
        </div>
    </div>
    <br/><br/><br/>
{% endblock %}

{% block newsletter %}
{% endblock %}

{% block js %}
{% endblock %}