{% extends "base.html.twig" %}

{% block contenue %}
    <br/><br/><br/><br/>
    <div class="container">
        <div class="row">
            <h3>SSL Certificate Required</h3>
            <div class="text-center"><strong>Erreur 496:</strong> Une extension de l'erreur 400 Bad Request, utilisée lorsqu'un certificat client requis n'est pas fourni.</div>
        </div>
    </div>
    <br/><br/><br/>
{% endblock %}

{% block newsletter %}
{% endblock %}

{% block js %}
{% endblock %}