{% extends "base.html.twig" %}

{% block contenue %}
    <br/><br/><br/><br/>
    <div class="container">
        <div class="row">
            <h3>HTTP Request Sent to HTTPS Port</h3>
            <div class="text-center"><strong>Erreur 497:</strong> Une extension de l'erreur 400 Bad Request, utilisée lorsque le client envoie une requête HTTP vers le port 443 normalement destiné aux requêtes HTTPS.
</div>
        </div>
    </div>
    <br/><br/><br/>
{% endblock %}

{% block newsletter %}
{% endblock %}

{% block js %}
{% endblock %}