{% extends "base.html.twig" %}

{% block contenue %}
    <br/><br/><br/><br/>
    <div class="container">
        <div class="row">
            <h3>Unsupported Media Type</h3>
            <div class="text-center"><strong>Erreur 415:</strong> Format de requête non supporté pour une méthode et une ressource données.</div>
        </div>
    </div>
    <br/><br/><br/>
{% endblock %}

{% block newsletter %}
{% endblock %}

{% block js %}
{% endblock %}