{% extends "base.html.twig" %}

{% block contenue %}
    <br/><br/><br/><br/>
    <div class="container">
        <div class="row">
            <h3>Proxy Authentication Required</h3>
            <div class="text-center"><strong>Erreur 407:</strong> Accès à la ressource autorisé par identification avec le proxy.</div>
        </div>
    </div>
    <br/><br/><br/>
{% endblock %}

{% block newsletter %}
{% endblock %}

{% block js %}
{% endblock %}