{% extends "base.html.twig" %}

{% block contenue %}
    <br/><br/><br/><br/>
    <div class="container">
        <div class="row">
            <h3>Unordered Collection</h3>
            <div class="text-center"><strong>Erreur 425:</strong> WebDAV RFC 3648. Ce code est défini dans le brouillon WebDAV <i>Advanced Collections Protocol</i>, mais est absent de <i>Web Distributed Authoring and Versioning</i> (WebDAV) <i>Ordered Collections Protocol</i>.</div>
        </div>
    </div>
    <br/><br/><br/>
{% endblock %}

{% block newsletter %}
{% endblock %}

{% block js %}
{% endblock %}