{% extends "base.html.twig" %}
{% block style %}
    <link rel="stylesheet" href="css/catalogue.css">
{% endblock %}
{% block title %} {{ parent() }} - Catalogue {% endblock %}
{% block contenu %}<h1>Notre Catalogue</h1>
    {% block logo %}
        <br>
    {% endblock %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card-deck mb-3">
                    {% for l in liste %}
                        <div class="card mb-4">
                            {% if l.photo is not null %}
                                <img class="card-img-top" src="images/livres/couvertures/{{ l.photo }}" alt="Card image"/>
                            {% else %}
                                <img class="card-img-top" src="images/livres/couvertures/default.svg" alt="Default Card Image"/>
                            {% endif %}
                            <div class="card-body">
                                <h4 class="card-title">{{ l.titre }}</h4>
                                <p class="card-text">{{ l.synopsis }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>  
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
{% endblock %}
