{% extends "base.html.twig" %}
{% block title %} {{ parent() }} - Contact {% endblock %}
{% block contenu %}<h1>Pour nous contacter </h1>
    <div class="glyphicon glyphicon-phone-alt">03.20.20.20.20</div>
    <br><br>
    <div class="glyphicon glyphicon-envelope"><a href="mailto:bidon@legendarium.com">bidon@legendarium.com</a></div>
    <br><br>
    <div class="glyphicon glyphicon-home">Adresse Postale</div>

{% endblock %}