{% block contenu %}
    <div class='alert alert-danger'><strong>Oh non votre inscription à échouée !!</strong></div>
    <p><a href='index.php?page=inscrire'>Retour a la page d'inscription </a></p>
    
    <br><br><br><br><br>
{% endblock %}