{% block contenu %}
    
    <div class='alert alert-success'>Félicitations votre inscrition est réussie, un mail vous a été envoyé (verifiez vos spams)</div>

    <br><br><br><br><br><br>



{% endblock %}