{% block contenu %}
    <div class='alert alert-danger'><strong>Oh non votre inscription a échouée!!</strong></div>
    <div class='alert alert-warning'><strong>(Vous ne pouvez vous inscrire à plus d'un jeu à la fois)</strong></div>
    <div class='alert alert-link'><p><a href='index.php?page=participer'>Retour à la page d'inscription </a></p></div>
    
    <br><br><br><br><br>
{% endblock %}