{% block contenu %}
    <div class='alert alert-danger'><strong>Oh non votre proposition de jeu de rôle a échouée !!</strong></div>
    <p><a href='index.php?page=proposer'>Retour a la page de proposition </a></p>
    
    <br><br><br><br><br>
{% endblock %}