{% extends "base.html.twig" %}
{% block title %} En maintenance {% endblock %}
{% block contenu %} <h1 class="alert alert-warning">Le site est en maintenance, réessayez dans quelques minutes </h1> 
{% endblock %} 