{% block contenu %}
    <div class='alert alert-danger'><strong>Votre requête a échouée, code erronné!!</strong></div>
    <div class='alert alert-link'><p><a href='index.php?page=forgetmdp'>Retourner au formulaire de récupération de mot de passe</a></p></div>
    
    <br><br><br><br><br>
{% endblock %}