{% block contenu %}
    
    <div class='alert alert-success'>Un mail vous a été envoyé pour récupérer vos identifiants de connexion (verifiez vos spams)</div>

    <br><br><br><br><br><br>



{% endblock %}