{% extends "base.html.twig" %}
{% block title %} {{ parent() }} - A Propos {% endblock %}
{% block contenu %}<h1>A propos du Legendarium </h1>
    
    <p> Librairie à Arras, Legendarium vous accueille rue Emile Legrelle pour vous proposer 
        un vaste choix de livres spécialisés. Arrageoises, Arrageois, habitantes et habitants
        des environs d'Arras, venez vite assouvir votre soif de lecture et sollicitez votre
        libraire qui se fera un plaisir de vous conseiller en fonction de vos goûts et de ce 
        que vous cherchez. Ce que vous ne devez plus chercher en revanche c'est votre libraire 
        à Arras, poussez vite la porte de la librairie Légendarium et laissez la légende faire 
        le reste...
    </p>
    
{% endblock %} 