{% extends "base.html.twig" %}
{% block contenu %}
<div class="container" id="log-in-form">
        <div class="heading">
            <h1>Modifier !</h1>
        </div>$nom, $prenom, $pseudo, $telephone, $mdp, $role
    <form action="index.php?page=inscrire" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <input type="text" id="nom" name="nom" class="form-control" placeholder="Nom" required autofocus>
        </div>
        <div class="form-group">
          <input type="text" id="prenom" name="prenom" class="form-control" placeholder="Prénom" required>
        </div>
        <div class="form-group">
          <input type="text" id="pseudo" name="pseudo" class="form-control" placeholder="Pseudo" required>
        </div>
        <div class="form-group">
          <input type="password" id="mdp" name="mdp" class="form-control" placeholder="Mot de Passe" required>
        </div>
        <div class="form-group">
          <input type="password" id="mdp2" name="mdp2" class="form-control" placeholder="Confirmation du mot de passe" required>
        </div>
        <div class="form-group">
          <input type="number" id="telephone" name="telephone" class="form-control" placeholder="Numéro de téléphone" required>
        </div>
        <div class="form-group">
          <select name="role" id="role" class="form-control">  
              <option selected disabled> Choisir un rôle </option>
              <option value="0">Client</option>
              <option value="1">Administrateur</option>
          </select>
        </div>
        <div class="form-group form-group-btn">
          <button type="submit" name="btModifierUtilisateur" class="btn btn-success btn-lg">Modifier !</button>
        </div>
        <div class="clearfix"></div>
        <div class="checkbox">
          <label>
            <input type="checkbox">Se souvenir de mes identifiants ?</label>
        </div>
        <div class="clearfix"></div>
  </form>
</div>

  
{% endblock %}