{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Inscription {% endblock %}
{% block contenu %}
    <!--Panel 8-->
    <div class="container">
        <div class="form-signin">
            <form method="post" action="index.php?page=inscription">
                <!--Body-->
                <div class="modal-body" >
                    <div class="md-form form-sm mb-5">
                        <i class="fas fa-envelope prefix"></i>
                        <input type="email" id="emailInscription" name='emailInscription' required autocomplete class="form-control form-control-sm validate">
                        <label data-error="Incorrect" data-success="Correct" for='emailInscription'>Votre email</label>
                    </div>

                    <div class="md-form form-sm mb-5">
                        <i class="fas fa-lock prefix"></i>
                        <input type="password" id="mdp1" name='mdp1' required autocomplete class="form-control form-control-sm validate">
                        <label data-error="Incorrect" data-success="Correct" for="mdp1">Votre mot de passe</label>
                    </div>

                    <div class="md-form form-sm mb-4">
                        <i class="fas fa-lock prefix"></i>
                        <input type="password" id="mdp2" name='mdp2' required autocomplete class="form-control form-control-sm validate">
                        <label data-error="Incorrect" data-success="Correct" for="mdp2">Répéter votre mot de passe</label>
                    </div>

                    <div class="md-form form-sm mb-4">
                        <i class="fas fa-user prefix"></i>
                        <input type="text" id="nom" name='nom' required autocomplete class="form-control form-control-sm validate">
                        <label data-error="Incorrect" data-success="Correct" for="nom">Nom</label>
                    </div>

                    <div class="md-form form-sm mb-4">
                        <i class="fas fa-user prefix"></i>
                        <input type="text" id="prenom" name='prenom' required autocomplete class="form-control form-control-sm validate">
                        <label data-error="Incorrect" data-success="Correct" for="prenom">Prénom</label>
                    </div>

                    <div class="md-form form-sm mb-4">
                        <i class="far fa-calendar prefix"></i>
                        <input type="date" id="dateNaiss" name='dateNaiss' required autocomplete class="form-control form-control-sm validate">
                        <label data-error="Incorrect" data-success="Correct" for="dateNaiss">Date de naissance</label>
                    </div>

                    <div class="md-form form-sm mb-4">
                        <i class="prefix"></i>
                        <input type="text" id="cp" name='cp' required autocomplete class="form-control form-control-sm validate">
                        <label data-error="Incorrect" data-success="Correct" for="cp">Code Postal</label>
                    </div>

                    <div class="md-form form-sm mb-4">
                        <i class="fas fa-road prefix"></i>
                        <input type="text" id="rue" name='rue' required autocomplete class="form-control form-control-sm validate">
                        <label data-error="Incorrect" data-success="Correct" for="rue">Rue</label>
                    </div>

                    <div class="md-form form-sm mb-4">
                        <i class="fas fa-city prefix"></i>
                        <input type="text" id="ville" name='ville' required autocomplete class="form-control form-control-sm validate">
                        <label data-error="Incorrect" data-success="Correct" for="ville">Ville</label>
                    </div>

                    <div class="md-form form-sm mb-4">
                        <i class="fas fa-mobile-alt prefix"></i>
                        <input type="text" id="telephone" name='telephone' required autocomplete class="form-control form-control-sm validate">
                        <label data-error="Incorrect" data-success="Correct" for="telephone">Téléphone</label>
                    </div>
                    
                    <input type="hidden" id="idRole" name="idRole" value="1" required autocomplete>                    

                    <div class="text-center form-sm mt-2">
                        <button class="btn btn-info" type='submit' name='btInscription'>S'inscrire<i class="fas fa-sign-in ml-1"></i></button>
                    </div>

                </div>
            </form>
        </div>
    </div>

{% endblock %}