{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - En maintenance {% endblock %}
{% block contenu %} 
    <div class="container">
        <h1>Le site est en maintenance, revenez dans quelques minutes</h1>
        <p class="h3-responsive">Désolé pour la gêne occasionnée</p>
    </div>
{% endblock %}