{% extends "base.html.twig" %}

{% block title %} Liste des packs {% endblock %}
{% block contenu %}
    <div id="content">
        <form action="index.php?page=pack" method="post">
            <table id="dtBasicExample" class="table table-striped table-bordered table-responsive-sm" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="th-sm">Type de Pack
                        </th>
                        <th class="th-sm">Nom de l'activité
                        </th>
                        <th class="th-sm">Nom du matériel
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in listeP %}
                        <tr>
                            <td name="nomMat">{{ p.nomMateriel }}</td>
                            <td name="nomAct">{{p.nomAct}}</td>
                            <td name="descPack">{{p.descPack}} €</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
        <div class="container">
            <div class="row">
                <a class="page-link" href="index.php?page=ajouterPack">
                    Ajouter un pack
                </a>
            </div>
        </div>
    </div>
{% endblock %}