{% extends "base.html.twig" %}

{# Page de connexion #}


{% block title %} {% endblock %}

{% block contenu %}
    <div class="container">
        <div class="form-signin">
            <form method="post" action="index.php?page=connexion">
                <!--Body-->
                <div class="modal-body" >
                    <div class="md-form form-sm mb-5">
                        <i class="fas fa-envelope prefix"></i>
                        <input type="email" id="emailConnexion" name='emailConnexion' required class="form-control form-control-sm validate">
                        <label data-error="Incorrect" data-success="Correct" for='emailConnexion'>Votre email</label>
                    </div>

                    <div class="md-form form-sm mb-5">
                        <i class="fas fa-lock prefix"></i>
                        <input type="password" id="mdpConnexion" name='mdpConnexion' required class="form-control form-control-sm validate">
                        <label data-error="Incorrect" data-success="Correct" for="mdpConnexion">Votre mot de passe</label>
                    </div>

                    <div class="text-center form-sm mt-2">
                        <button class="btn btn-info" type='submit' name='btConnexion'>Se connecter<i class="fas fa-sign-in ml-1"></i></button>
                    </div>

                </div>
            </form>
        </div>
    </div>
{% endblock %}