{% extends "base.html.twig" %}

{# Page de maintenance (probleme de DB) #}

{% block contenu %}
<div class="container">
    <img src="img/logo.PNG" width="100" height="100"/>
    <strong>Le site est en maintenance, réessayer dans quelques minutes...</strong>
</div>
{% endblock %}