{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Maitenance {% endblock %}

{% block contenue %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Le site est actuellement en maintenance veuillez revenir plus tard .</h1>
            </div>
        </div>
    </div>
    <br/><br/><br/>
{% endblock %}

{% block newsletter %}
    
{% endblock %}